@tailwind base;
@tailwind components;
@tailwind utilities;

article {
    
    margin-top: 50px;
    margin-left: 20%;
    width:65%;
  
    border-radius: 20px;
    background-color: white;
    
}

.container {

    
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
h1 {
    color: black;
}

.title-list{
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
  
    width: 15%;
    border-radius: 10px;
}
.title {
    margin-left: 9px;
   
    color: black;
    font-size: larger;
} 
.list {
    margin-right: 20px;
}

.img-offre{
    border: solid 2px gold;
}
button:disabled {
    cursor: not-allowed;
    background-color: rgb(214, 24, 24) !important;
    color: white !important;
}
.resultat{
    margin-top: 20px;
    background-color: white;
    width: 50%;
    display: flex;
    align-items: start;
    margin-left: 350px;
    border-radius: 20px;

} 




