<div class="body_container_home bg-white ">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Smart Lawyer
      </h2>
      <p class="mt-2 text-lg text-gray-600">C'est quoi Un Smart Lawyer?</p>
      <p class="mt-2 text-lg text-gray-600">
        Un "Smart Lawyer" (SL) est un avocat utilisant des technologies avancées
        comme l'IA et l'automatisation pour améliorer l'efficacité et la qualité
        de ses services. Ils exploitent la gestion des données, les outils de
        communication en ligne, et les mesures de sécurité numérique pour mieux
        servir leurs clients et rester à jour avec les évolutions technologiques
        et juridiques.
      </p>
      <div class="image_container">
        <img
          class="smart_img"
          src="assets/images/smart_lawyer_image.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="mx-auto mt-3 lg:mx-0">
      <br />
      <br />
      <h3
        class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Affaire Juridique
      </h3>
      <p class="mt-2 text-lg text-gray-600">
        C'est quoi une affaire juridique ?
      </p>
      <p class="mt-2 text-lg text-gray-600">
        une affaire juridique est une situation ou un événement qui implique des
        droits, des obligations, des intérêts ou des litiges entre des parties,
        et qui nécessite une analyse et une résolution en vertu de la loi et des
        principes juridiques applicables. Dans le contexte du code de la famille
        marocain, les affaires juridiques peuvent inclure des questions
        relatives au mariage, au divorce, à la garde des enfants, à la pension
        alimentaire, à la succession, à la tutelle, etc.
      </p>
      <div class="image_container">
        <img class="smart_img" src="assets/images/droit-affaire-1.jpg" alt="" />
      </div>
    </div>
    <div
      class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2024</time>
          <a
            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
            >Economist</a
          >
        </div>
        <div class="group relative">
          <h3
            class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
          >
            <a>
              <span class="absolute inset-0"></span>
              Economie et le domaine juridique!
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            L'économie et le domaine juridique sont étroitement liés, car les
            lois et les régulations influencent grandement les activités
            économiques, et les concepts économiques peuvent également
            influencer le développement et l'application des lois.
          </p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img
            src="assets/images/said.jpg"
            alt=""
            class="h-10 w-10 rounded-full bg-gray-50"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a>
                <span class="absolute inset-0"></span>
                M. Said
              </a>
            </p>
            <p class="text-gray-600">Co-Founder</p>
          </div>
        </div>
      </article>
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Mar 20, 2024</time>
          <a
            class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
            >Avocat</a
          >
        </div>
        <div class="group relative">
          <h3
            class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
          >
            <a>
              <span class="absolute inset-0"></span>
              Le domaine juridique et l'intelligence artificielle!
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
            Le domaine juridique et l'intelligence artificielle (IA) sont de
            plus en plus interconnectés, l'IA apportant des innovations
            significatives dans la pratique du droit.
          </p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img
            src="assets/images/judge.png"
            alt=""
            class="h-10 w-10 rounded-full bg-gray-50"
          />
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a href="#">
                <span class="absolute inset-0"></span>
                M.Mohammed Filali
              </a>
            </p>
            <p class="text-gray-600">Avocat</p>
          </div>
        </div>
      </article>


      <!-- More posts... -->
    </div>
  </div>
</div>
