/* You can add global styles to this file, and also import other style files */
body {
    height: 100%; /* Utiliser 100vh pour occuper la hauteur complète de l'écran */
    width: 100%;
    background-image: url("src\assets\back_ground.jpg");
    background-color: rgba(0, 0, 0, 0.438);
    background-size: cover;

    background-repeat: non-repeat; /* Empêcher la répétition de l'image */
}

@tailwind base;
@tailwind components;
@tailwind utilities;